version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: chatapp-mysql
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"   # optional if you need host access
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - chatnet
    restart: unless-stopped

  backend:
    depends_on:
      - mysql
    build:
      context: .
      dockerfile: Dockerfile-node
    container_name: chatapp-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    env_file:
      - .env
    networks:
      - chatnet
    volumes:
      - caddy_data:/caddy_data:ro
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-caddy
    container_name: chatapp-frontend
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
  mysql_data:
networks:
  chatnet:
