version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile-node
    container_name: chatapp-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    volumes:
      - caddy_data:/caddy_data:ro
    networks:
      - chatnet
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-caddy
    container_name: chatapp-frontend
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  caddy_data:
  caddy_config:
networks:
   chatnet:
