body{
    width: 95vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border: none;
    margin-top:1vh;
    margin-bottom: 1vh;
    margin-left:1vh;
    margin-right:1vh;
    font: 16px/1.5 Arial, sans-serif;
    overflow:none;
    align-items: top;
}
ul, li{
    list-style-type: none;
    list-style-position:inside;
    padding:0px;
    margin:0px;
}
div .container{
    display: block;
    height:70vh;
    width: 95vw;
    scroll-behavior: none;
    border-radius:8px;
}
div #disappearingOptions { /*Not ready yet, will be used to toggle visibility of the disappearing messages options*/
    visibility:hidden;
}
div select {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 40vw;
    height: 30px;
}
#interval {
    display:block;
    width:95vw;
    height: 30px;
    border-radius:5px;
}

div #messages {
    overflow:auto;
    height: 65vh;
    width:70vw;
    text-wrap: wrap;
    font-size:0.9em;
    overflow-y: scroll;
    padding: 1px;
    background-color: lightblue;
    margin-bottom: 10px;
    flex-direction:column;
    border-radius:8px;
    padding:5px;
    margin:5px;
}
#messageList {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 1px solid #ccc;
    padding:5px;
    
    gap: 5px;
    padding: 5px;
}

#messageList li.my-message {
    align-self: flex-end;
    background-color: rgb(133, 209, 130);
    
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

#messageList li.other-message {
    align-self: flex-start;
    background-color: #8282d1;
    color: rgb(243, 239, 239);
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.message-sender {
    font-size: 0.75em;
    opacity: 0.8;
    margin-bottom: 4px;
}

.message-text {
    font-size: 1em;
}
div #users {
    flex-direction: column;
}
div #rooms {
    height: 5vh;
    width: 90vw;
    display: flex;
    padding-bottom:3px;
}
input {
    border-radius:5px;
    width:40vw;
    color:rgb(0, 0, 0);
    background-color:lightblue;
    
}
select {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 70vw;
    height: 30px;
    background-color:lightblue;
}

button {
    margin: 0.1em 0.1em;
    padding: 0.1em;
    border-radius: 5px;
    background-color: #0000ff;
    color: #ffffff;
}
#form {
    display: flex;
    width: 40vw;
    padding: 0.1em;
}
#form input {
    flex: 1;
    margin-right: 0.1em;
    width: 40vw;
}


@media (max-height:900px) {
    body {
        width: 80vw;
        font-size: 0.8em;
        margin: 0;
        padding: 0;
    }
    div #messages {
        height: 40vh;
        width: 70vw;
    }

}